<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ShotLife.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ShotLife.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ShotLife.Properties.Settings>
            <setting name="Frequency" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="ImageFormat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NeedWarterMark" serializeAs="String">
                <value />
            </setting>
            <setting name="PixelFormat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SavePath" serializeAs="String">
                <value />
            </setting>
            <setting name="FileNameFormating" serializeAs="String">
                <value />
            </setting>
            <setting name="SmtpServer" serializeAs="String">
                <value />
            </setting>
            <setting name="MailUSerName" serializeAs="String">
                <value />
            </setting>
            <setting name="MailPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="DeliverRule" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoSendMail" serializeAs="String">
                <value>true</value>
            </setting>
            <setting name="PicWidth" serializeAs="String">
                <value />
            </setting>
            <setting name="PicHeight" serializeAs="String">
                <value />
            </setting>
            <setting name="PicResizeMode" serializeAs="String">
                <value />
            </setting>
            <setting name="BaseWidth" serializeAs="String">
                <value>true</value>
            </setting>
            <setting name="BaseHeight" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="MailTo" serializeAs="String">
                <value />
            </setting>
        </ShotLife.Properties.Settings>
        <ShotLife.Settings1>
            <setting name="Frequency" serializeAs="String">
                <value>6</value>
            </setting>
        </ShotLife.Settings1>
    </userSettings>
</configuration>